*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button{
    border-radius: 6px;
    padding: 1px 20px;
    background-color: rgb(19, 89, 89);
    color: white;
}

body{
    background-color: #7FFFD4;
}

select{
    width: 200px;
    height: 30px;
    border-radius: 6px;
    border: 2px solid green;
    background-color: rgb(176, 246, 71);
}

header{
    background-color: white;
}

.container{
    margin: 2rem auto;
    max-width: 600px;
}

.cells{
    display: flex;
    flex-wrap: wrap;
}

.cell{
    border: 1px solid black;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue{
    color: white;
    background-color: cornflowerblue;
}

.red{
    background-color: red; 
}
